<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Connect</title>
    <link rel="stylesheet" href="/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <header class="bg-blue-500 p-4 text-white text-lg font-semibold">
        <div class="container mx-auto">Event Connect</div>

    
    <button id="logoutButton">Logout</button>
      
        
    </header>

    <div class="container mx-auto mt-4 p-4 bg-white rounded shadow">
        {{{body}}}
    </div>

    <footer class="bg-blue-500 p-4 mt-8 text-white text-center">
        © 2024 Event Connect
    </footer>
   {
    <script>
    document.getElementById('logoutButton').addEventListener('click', function () {
        event.preventDefault();
        // Assuming you have a logout endpoint on the server, for example, "/logout"
        fetch('/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                // Add any additional headers if needed (e.g., authentication token)
            },
        })
        .then(response => {
            if (response.ok) {
                // Redirect to the login page or perform any other desired actions
                window.location.href = '/login';
            } else {
                console.error('Logout failed:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Error during logout:', error);
        });
    });
    
</script>


</body>
</html>
