<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Connect</title>
    <link rel="stylesheet" href="/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!-- Header Section -->
    <header class="bg-blue-500 p-4 text-white text-lg font-semibold">
        <div class="container mx-auto">Home</div>
    </header>

    <!-- Main Content Section -->
    <div class="container mx-auto mt-4 p-4 bg-white rounded shadow">
        <!-- Title -->
        <h2 class="text-center text-3xl font-bold my-4">Event Connect</h2>
        <!-- Description -->
        <p class="text-center">Discover and connect over live events with Event Connect! Find your next unforgettable experience using tailored searches for artists, venues, and locations, and then dive into vibrant message boards to interact with fellow event-goers. Where your next adventure begins.</p>

        <!-- Login Form -->
        <form action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <!-- Email Input -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="username" type="text" placeholder="Email">
            </div>
            <!-- Password Input -->
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight" id="password" type="password" placeholder="******************">
            </div>
            <!-- Buttons Container (Centered with spacing) -->
            <div class="text-center">
                <!-- Log In Button with Tailwind CSS -->
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                    Log In
                </button>
                <span class="mx-4"> </span> <!-- Spacing between buttons -->
                <!-- Register Button (Link) with Tailwind CSS -->
                <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</a>
            </div>
        </form>
    </div>



</body>
</html>
